body{
  /* background-image: url("src/photo/2.jpg"); 
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; */
    background-color: #c4ccdb85;
  }